@model PatientListingViewModel

@if (Model.Patients.Any())
{
    <table class="table table-responsive">
        <thead>
        <th><h3>Name</h3></th>
        <th><h3>Age</h3></th>
        <th><h3>D.O.B</h3></th>
        <th><h3>Address</h3></th>
        <th><h3>Phone</h3></th>
        <th><h3>Email</h3></th>
        </thead>
        <tbody>
            @foreach (var user in Model.Patients)
            {
                <tr>
                    <td>
                        <div class="dropdown">
                            <span class="dot-icon" data-toggle="dropdown">
                                <ion-icon name="ellipsis-vertical"></ion-icon>
                            </span>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" asp-route-id="@user.Id">Edit</a>
                                <a class="dropdown-item" asp-route-id="@user.Id">Details</a>
                                <a class="dropdown-item delete-option" data-toggle="modal" data-target="#deleteModal" data-id="@user.Id">Delete</a>
                            </div>
                            @user.Name
                        </div>
                    </td>
                    <td>@user.Age</td>
                    <td>@user.DateOfBirth</td>
                    <td>@user.Address</td>
                    <td>@user.Phone</td>
                    <td>@user.Email</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h5>No Patient exists!</h5>
}

<!-- Delete Confirmation Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Confirm Delete</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this user?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <a class="btn btn-danger" id="deleteButton" asp-action="Delete" asp-route-id="">Delete</a>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        // Add a click event handler to the dot icon
        $('.dot-icon').on('click', function () {
            // Toggle the visibility of the closest dropdown-menu
            $(this).closest('.dropdown').find('.dropdown-menu').toggle();
        });

        // Close the dropdown when clicking anywhere outside of it
        $(document).on('click', function (e) {
            // Check if the clicked element is not inside the dropdown
            if (!$(e.target).closest('.dropdown').length) {
                // Hide all dropdowns
                $('.dropdown-menu').hide();
            }
        });

        // Handle the delete option click event
        $('.delete-option').on('click', function () {
            // Get the user ID from the data-id attribute
            var userId = $(this).data('id');

            // Set the data-id attribute of the delete button inside the modal
            $('#deleteButton').attr('asp-route-id', userId);
        });

    });
</script>
